In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [2]:
# Print out each highschool using a for loop
for schools in high_schools:
    print (schools)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [4]:
for school_types in high_school_types:
    print (school_types)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [5]:
High_schools_list = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [6]:
# Add the Pandas dependency as pd for ease of calling it
import pandas as pd

# Convert the list above as a series using the 'series' function in the pandas dependency
school_series = pd.Series(High_schools_list)
# print school_series

for schools in school_series:
    print (schools)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [7]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [8]:
# To convert the dictionary into a dataframe and print it
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [9]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [16]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

# Add the list to a new DataFrame, its like adding the keys and values
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["School Type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [11]:
# Alternatively, create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
# intialize a dataframe
schools_dict_df = pd.DataFrame()
# then convert the dictonary into a dataframe
schools_dict_df = pd.DataFrame(high_schools_dict)
schools_dict_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [19]:
# Initialize a new DataFrame.
schools_df_attribute = pd.DataFrame()

# Add the list to a new DataFrame, its like adding the keys and values
schools_df_attribute["School ID"] = school_id
schools_df_attribute["School Name"] = school_name
schools_df_attribute["School Type"] = type_of_school

# Print the values in each column
schools_df_attribute.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [21]:
# Skill challenge

#Creating lists
SC_school_ID = (0, 1, 2)
SC_school_name = ("SATEC","Churchill","Don Mills")
SC_type = ("attended","home school","rivals")

#creating the dataframe
SC_schools_dataframe = pd.DataFrame()

#Adding lists to dataframe
SC_schools_dataframe["School ID"] = SC_school_ID
SC_schools_dataframe["School Name"] = SC_school_name
SC_schools_dataframe["School Type"] = SC_type

#Printing dataframe
SC_schools_dataframe

   School ID School Name  School Type
0          0       SATEC     attended
1          1   Churchill  home school
2          2   Don Mills       rivals